* {
	padding: 0;
	margin: 0;
}

body {
	padding-top: 15px;
	background-color: #e4e4e4;
	font-family: Roboto Mono, monospace;
}

canvas {
	display: block;
	margin: 0 auto;
	background-color: #ffffff;
}

.loading {
	background: #ffffff url("../img/loader.gif") no-repeat scroll 50% 50%;
}